Parse all the data

In [14]:
import os
import pandas as pd
from pprint import pprint
import numpy as np

In [ ]:
# load in all the data in Datasets directory
folder_name = "Datasets"
csv_files = [f for f in os.listdir(folder_name) if f.endswith(".csv")]
dfs = {}
for file in csv_files:
    dfs[file.replace(".csv", "")] = pd.read_csv(os.path.join(folder_name, file))

In [110]:
# get the dataset by index
def get_i_dataset(i):
    return dfs[list(dfs.keys())[i]]


# print first 5 rows of the dataset
def print_dataset(i):
    print(list(dfs.keys())[i])
    print(dfs[list(dfs.keys())[i]].head())

'''
convert latitude and longitilde data to np array of location pairs  
'''
def convert_to_numpy(df):
    df[["Latitude", "Longitude"]] = df[["Latitude", "Longitude"]].apply(pd.to_numeric, errors='coerce')
    df = df.dropna()
    np_array = df[["Latitude", "Longitude"]].to_numpy()
    assert np_array.shape[1] == 2
    assert np_array.dtype == np.float64
    return np_array, df


print("num of datasets: ", len(dfs.keys()))

num of datasets:  9

In [24]:
print_dataset(0)

arrests
      Neighborhood   Latitude  Longitude
0       Bloomfield -79.949277  40.452551
1     Outside City -80.088018  40.440136
2         Westwood -79.891803  40.486625
3   East Allegheny -80.001939  40.454080
4  Crafton Heights -80.052204  40.445900

In [119]:
# arrests
# neighborhood, latitude, longitude
# only store the location of the arrest
arrest_loc, _ = convert_to_numpy(get_i_dataset(0))

In [64]:
print_dataset(1)

bike_stations
   Total Docks   Latitude  Longitude
0           19  40.456507 -79.932331
1           15  40.425800 -79.953400
2           15  40.444600 -79.978300
3           15  40.456400 -79.980000
4           19  40.448301 -80.018007

In [120]:
# bike_stations
# num of docks, latitude, longitude
bike_station_loc, df = convert_to_numpy(get_i_dataset(1))
bike_station_counts = df.to_numpy()
assert len(bike_station_counts) == bike_station_loc.shape[0]

In [72]:
print_dataset(2)

crash_data
   DEC_LAT  DEC_LONG
0  40.6088  -79.7041
1  40.2347  -79.2282
2  40.3216  -79.3905
3  40.3013  -79.5414
4  40.3071  -79.5429

In [134]:
# crash
# latitude, longitude
df = get_i_dataset(2).rename(columns={'DEC_LAT': 'Latitude', 'DEC_LONG': 'Longitude'})
crash_loc, _ = convert_to_numpy(df)

In [81]:
print_dataset(3)

firearm_seizure_data
           Neighborhood   Latitude  Longitude
0  Mount Oliver Borough  40.417619 -79.986436
1              Sheraden  40.456904 -80.052328
2       Terrace Village  40.441185 -79.968527
3      Brighton Heights  40.479530 -80.033477
4                   NaN        NaN        NaN

In [129]:
# firearm seizure
# latitude, longitude
firearm_loc, _ = convert_to_numpy(get_i_dataset(3))

In [86]:
print_dataset(4)

housing
   Neighborhood_2010_INTPTLAT10  Neighborhood_2010_INTPTLON10  \
0                     40.440680                    -79.954233
1                     40.445841                    -79.948393
2                     40.441244                    -79.962611
3                     40.440387                    -79.981348
4                     40.454500                    -79.981276

  Neighborhood_2010_HOOD  Neighborhood_2010_SQMILES  \
0        Central Oakland                      0.281
1          North Oakland                      0.499
2           West Oakland                      0.215
3       Crawford-Roberts                      0.258
4         Strip District                      0.608

  SNAP_All_csv_Median_Home_Value_ Med__Val____00_in__10_Dollars_  \
0                      $62,100.00                     $78,637.00
1                     $222,423.00                    $281,654.00
2                      $47,500.00                     $60,149.00
3                      $70,800.00                     $89,654.00
4                     $215,900.00                    $273,394.00

  SNAP_All_csv_Median_Home__Value SNAP_All_csv_Median_Sale_Price_  \
0                     $144,350.00                     $104,940.00
1                     $273,000.00                     $145,000.00
2                      $61,100.00                      $66,000.00
3                      $94,600.00                      $11,500.00
4                     $161,800.00                     $250,000.00

   SNAP_All_csv_2009_Median_Income  F2009_Med__Income___13_Dollars_  ...  \
0                            16717                            18222  ...
1                            50004                            54504  ...
2                            20962                            22849  ...
3                            14932                            16276  ...
4                            64868                            70706  ...

  SNAP_All_csv__Drug_Violations__  SNAP_All_csv___Good___Excellent  \
0                               7                             5.3%
1                              12                            15.4%
2                              13                             0.6%
3                              90                            27.6%
4                              38                            12.7%

   SNAP_All_csv___Average_Conditio  SNAP_All_csv___Poor___Derelict_  \
0                            91.5%                             3.2%
1                            81.9%                             2.6%
2                            89.7%                             9.7%
3                            52.8%                            19.6%
4                            72.2%                            15.1%

   SNAP_All_csv_Landslide_Prone___  SNAP_All_csv_Flood_Plain____lan  \
0                            10.6%                             0.0%
1                            17.9%                             0.0%
2                            64.5%                             0.0%
3                            24.7%                             0.0%
4                            10.9%                            54.2%

   SNAP_All_csv_Park_Space____of_l  SNAP_All_csv_Woodland____of_lan  \
0                             6.9%                             3.9%
1                             4.6%                             2.1%
2                             0.8%                            13.4%
3                             3.2%                             4.8%
4                             1.7%                             3.1%

   SNAP_All_csv_Cemetery____of_lan  SNAP_All_csv_Residential
0                             0.0%                     46.2%
1                             0.0%                     34.4%
2                             0.0%                     25.5%
3                             0.0%                     73.4%
4                             0.0%                      0.0%

[5 rows x 30 columns]

In [ ]:
# housing
# too much data, skip for now

In [87]:
print_dataset(5)

neighborhood_area
     Latitude    Longitude         Neighborhood       acres   sqmiles
0  40.4523867  -79.9073195   Point Breeze North  193.229239  0.301921
1  40.4427301  -79.9435821  Squirrel Hill North  782.981547  1.223409
2  40.4672423  -79.9433700             Garfield  292.726125  0.457385
3  40.4512373  -79.9745804    Bedford Dwellings  112.431551  0.175674
4  40.4109357  -79.9931744            Knoxville  191.759777  0.299625

In [128]:
# neighborhood name to location
# neighborhood, latitude, longitude
neighborhood_loc, df = convert_to_numpy(get_i_dataset(5))
neighborhood_name = df["Neighborhood"].to_numpy()
assert len(neighborhood_name) == neighborhood_loc.shape[0]

In [103]:
print_dataset(6)

parking_meter_locations
    Latitude  Longitude   rate max_hours
0  40.451356 -80.001150  $1/hr     4 HRS
1  40.448784 -79.951793  $3/hr    No Max
2        NaN        NaN    NaN       NaN
3  40.442621 -79.982096  $1/hr     2 HRS
4  40.439856 -79.957367  $3/hr    No Max

In [124]:
# parking rate
# latitude, longitude, rate, max_hours (omit for now)
parking_loc, df = convert_to_numpy(get_i_dataset(6))
parking_rate = df["rate"].to_numpy()
assert len(parking_rate) == parking_loc.shape[0]

In [127]:
print_dataset(7)

park_and_ride_locations
   Latitude  Longitude
0  40.32270  -79.83461
1  40.37227  -79.84466
2  40.38864  -79.82348
3  40.41235  -79.84434
4  40.46647  -79.70568

In [135]:
# park and ride location
# latitude, longitude
park_and_ride_loc, _ = convert_to_numpy(get_i_dataset(7))

In [136]:
print_dataset(8)

PGHSNAP
        Neighborhood  Population (2010)  Miles of Major Roads  \
0   Allegheny Center                933              2.232425
1     Allegheny West                462              1.471627
2          Allentown               2500              1.648451
3          Arlington               1869              0.861571
4  Arlington Heights                244              0.000000

   Total Street Miles  Street Density (st. mi/area sq. mi)  \
0            4.141467                            19.721273
1            4.870843                            34.544983
2           12.325689                            41.781996
3           10.734269                            22.838871
4            1.086460                             8.230760

   Total Working Pop. (Age 16+) (2010)  Commute to Work: Drive Alone (2010)  \
0                                  386                             0.277202
1                                  151                             0.231788
2                                  824                             0.469660
3                                  673                             0.739970
4                                   72                             0.111111

   Commute to Work: Carpool/Vanpool (2010)  \
0                                 0.098446
1                                 0.205298
2                                 0.109223
3                                 0.072808
4                                 0.000000

   Commute to Work: Public Transportation (2010)  \
0                                       0.168394
1                                       0.158940
2                                       0.379854
3                                       0.135215
4                                       0.888889

   Commute to Work: Taxi (2010)  Commute to Work: Motorcycle (2010)  \
0                      0.000000                            0.000000
1                      0.145695                            0.000000
2                      0.000000                            0.008495
3                      0.000000                            0.000000
4                      0.000000                            0.000000

   Commute to Work: Bicycle (2010)  Commute to Work: Walk (2010)  \
0                              0.0                      0.437824
1                              0.0                      0.258278
2                              0.0                      0.000000
3                              0.0                      0.019316
4                              0.0                      0.000000

   Commute to Work: Other (2010)  Work at Home (2010)
0                       0.000000             0.018135
1                       0.000000             0.000000
2                       0.014563             0.018204
3                       0.008915             0.023774
4                       0.000000             0.000000