Parse all the data

In [2]:
import os
import pandas as pd
from pprint import pprint
import numpy as np

In [3]:
# load in all the data in Datasets directory
folder_name = "Datasets"
csv_files = [f for f in os.listdir(folder_name) if f.endswith(".csv")]
dfs = {}
for file in csv_files:
    dfs[file.replace(".csv", "")] = pd.read_csv(os.path.join(folder_name, file))

In [4]:
# get the dataset by index
def get_i_dataset(i):
    return dfs[list(dfs.keys())[i]]


# print first 5 rows of the dataset
def print_dataset(i):
    print(list(dfs.keys())[i])
    print(dfs[list(dfs.keys())[i]].head())

'''
convert latitude and longitilde data to np array of location pairs  
'''
def convert_to_numpy(df):
    df[["Latitude", "Longitude"]] = df[["Latitude", "Longitude"]].apply(pd.to_numeric, errors='coerce')
    df = df.dropna()
    np_array = df[["Latitude", "Longitude"]].to_numpy()
    assert np_array.shape[1] == 2
    assert np_array.dtype == np.float64
    return np_array, df


print("num of datasets: ", len(dfs.keys()))

num of datasets:  9

In [5]:
print_dataset(0)

arrests
      Neighborhood   Latitude  Longitude
0       Bloomfield -79.949277  40.452551
1     Outside City -80.088018  40.440136
2         Westwood -79.891803  40.486625
3   East Allegheny -80.001939  40.454080
4  Crafton Heights -80.052204  40.445900

In [6]:
# arrests
# neighborhood, latitude, longitude
# only store the location of the arrest
arrest_loc, _ = convert_to_numpy(get_i_dataset(0))
# TODO: store neighborhood instead
# TODO: get df using name

In [7]:
print_dataset(1)

bike_stations
   Total Docks   Latitude  Longitude
0           19  40.456507 -79.932331
1           15  40.425800 -79.953400
2           15  40.444600 -79.978300
3           15  40.456400 -79.980000
4           19  40.448301 -80.018007

In [8]:
# bike_stations
# num of docks, latitude, longitude
bike_station_loc, df = convert_to_numpy(get_i_dataset(1))
bike_station_counts = df.to_numpy()
assert len(bike_station_counts) == bike_station_loc.shape[0]

In [9]:
print_dataset(2)

crash_data
   DEC_LAT  DEC_LONG
0  40.6088  -79.7041
1  40.2347  -79.2282
2  40.3216  -79.3905
3  40.3013  -79.5414
4  40.3071  -79.5429

In [10]:
# crash
# latitude, longitude
df = get_i_dataset(2).rename(columns={'DEC_LAT': 'Latitude', 'DEC_LONG': 'Longitude'})
crash_loc, _ = convert_to_numpy(df)

In [11]:
print_dataset(3)

firearm_seizure_data
           Neighborhood   Latitude  Longitude
0  Mount Oliver Borough  40.417619 -79.986436
1              Sheraden  40.456904 -80.052328
2       Terrace Village  40.441185 -79.968527
3      Brighton Heights  40.479530 -80.033477
4                   NaN        NaN        NaN

In [12]:
# firearm seizure
# latitude, longitude
firearm_loc, _ = convert_to_numpy(get_i_dataset(3))

In [23]:
# print_dataset(4)
print(get_i_dataset(4).columns)

Index(['Neighborhood_2010_INTPTLAT10', 'Neighborhood_2010_INTPTLON10',
       'Neighborhood_2010_HOOD', 'Neighborhood_2010_SQMILES',
       'SNAP_All_csv_Median_Home_Value_', 'Med__Val____00_in__10_Dollars_',
       'SNAP_All_csv_Median_Home__Value', 'SNAP_All_csv_Median_Sale_Price_',
       'SNAP_All_csv_2009_Median_Income', 'F2009_Med__Income___13_Dollars_',
       'Est__Percent_Under_Poverty__201', 'SNAP_All_csv__Part_1__Major_Cri',
       'SNAP_All_csv_Part_1_Crime_per_1', 'SNAP_All_csv_Part_2_Crime_per_1',
       'SNAP_All_csv__Murder__2010_', 'SNAP_All_csv__Rape__2010_',
       'SNAP_All_csv__Robbery__2010_', 'F_Agr__Assault__2010_',
       'SNAP_All_csv__Burglary__2010_', 'SNAP_All_csv__Auto_Theft__2010_',
       'SNAP_All_csv__Drug_Violations__', 'SNAP_All_csv___Good___Excellent',
       'SNAP_All_csv___Average_Conditio', 'SNAP_All_csv___Poor___Derelict_',
       'SNAP_All_csv_Landslide_Prone___', 'SNAP_All_csv_Flood_Plain____lan',
       'SNAP_All_csv_Park_Space____of_l', 'SNAP_All_csv_Woodland____of_lan',
       'SNAP_All_csv_Cemetery____of_lan', 'SNAP_All_csv_Residential'],
      dtype='object')

Neighborhood_2010_HOOD
SNAP_All_csv__Auto_Theft__2010_
SNAP_All_csv__Drug_Violations__

In [14]:
# housing
# too much data, skip for now

In [15]:
print_dataset(5)

neighborhood_area
     Latitude    Longitude         Neighborhood       acres   sqmiles
0  40.4523867  -79.9073195   Point Breeze North  193.229239  0.301921
1  40.4427301  -79.9435821  Squirrel Hill North  782.981547  1.223409
2  40.4672423  -79.9433700             Garfield  292.726125  0.457385
3  40.4512373  -79.9745804    Bedford Dwellings  112.431551  0.175674
4  40.4109357  -79.9931744            Knoxville  191.759777  0.299625

In [29]:
# neighborhood name to location
# neighborhood, latitude, longitude
neighborhood_loc, df = convert_to_numpy(get_i_dataset(5))
neighborhood_name = df["Neighborhood"]
assert len(neighborhood_name) == neighborhood_loc.shape[0]

In [17]:
print_dataset(6)

parking_meter_locations
    Latitude  Longitude   rate max_hours
0  40.451356 -80.001150  $1/hr     4 HRS
1  40.448784 -79.951793  $3/hr    No Max
2        NaN        NaN    NaN       NaN
3  40.442621 -79.982096  $1/hr     2 HRS
4  40.439856 -79.957367  $3/hr    No Max

In [18]:
# parking rate
# latitude, longitude, rate, max_hours (omit for now)
parking_loc, df = convert_to_numpy(get_i_dataset(6))
parking_rate = df["rate"].to_numpy()
assert len(parking_rate) == parking_loc.shape[0]

In [19]:
print_dataset(7)

park_and_ride_locations
   Latitude  Longitude
0  40.32270  -79.83461
1  40.37227  -79.84466
2  40.38864  -79.82348
3  40.41235  -79.84434
4  40.46647  -79.70568

In [20]:
# park and ride location
# latitude, longitude
park_and_ride_loc, _ = convert_to_numpy(get_i_dataset(7))

In [21]:
# print_dataset(8)
get_i_dataset(8).columns

Index(['Neighborhood', 'Population (2010)', 'Miles of Major Roads',
       'Total Street Miles', 'Street Density (st. mi/area sq. mi)',
       'Total Working Pop. (Age 16+) (2010)',
       'Commute to Work: Drive Alone (2010)',
       'Commute to Work: Carpool/Vanpool (2010)',
       'Commute to Work: Public Transportation (2010)',
       'Commute to Work: Taxi (2010)', 'Commute to Work: Motorcycle (2010)',
       'Commute to Work: Bicycle (2010)', 'Commute to Work: Walk (2010)',
       'Commute to Work: Other (2010)', 'Work at Home (2010)'],
      dtype='object')

In [35]:
# PGHSNAP
df = get_i_dataset(8).dropna()
neighborhood_name_PGHSNAP = df["Neighborhood"].to_numpy()
population = df["Population (2010)"].to_numpy()
assert population.dtype == np.int64
street_density = df["Street Density (st. mi/area sq. mi)"].to_numpy()
assert street_density.dtype == np.float64
working_population = df["Total Working Pop. (Age 16+) (2010)"].to_numpy()
assert working_population.dtype == np.int64
work_at_home_percentage = df["Work at Home (2010)"].to_numpy()
assert work_at_home_percentage.dtype == np.float64