In [54]:
import os
import pandas as pd
from pprint import pprint
import numpy as np

In [55]:
pd.set_option('display.max_columns', 100)
df = pd.read_csv("post_processed.csv")

In [56]:
df.head()

,Neighborhood,Latitude,Longitude,arrests_count,bike_station_count,crash_count,firearm_seizure_count,Neighborhood_2010_SQMILES,SNAP_All_csv_Median_Home_Value_,Med__Val____00_in__10_Dollars_,SNAP_All_csv_Median_Home__Value,SNAP_All_csv_Median_Sale_Price_,SNAP_All_csv_2009_Median_Income,F2009_Med__Income___13_Dollars_,Est__Percent_Under_Poverty__201,SNAP_All_csv__Part_1__Major_Cri,SNAP_All_csv_Part_1_Crime_per_1,SNAP_All_csv_Part_2_Crime_per_1,SNAP_All_csv__Murder__2010_,SNAP_All_csv__Rape__2010_,SNAP_All_csv__Robbery__2010_,F_Agr__Assault__2010_,SNAP_All_csv__Burglary__2010_,SNAP_All_csv__Auto_Theft__2010_,SNAP_All_csv__Drug_Violations__,SNAP_All_csv___Good___Excellent,SNAP_All_csv___Average_Conditio,SNAP_All_csv___Poor___Derelict_,SNAP_All_csv_Landslide_Prone___,SNAP_All_csv_Flood_Plain____lan,SNAP_All_csv_Park_Space____of_l,SNAP_All_csv_Woodland____of_lan,SNAP_All_csv_Cemetery____of_lan,SNAP_All_csv_Residential,parking_meter_count,parking_avg_rate,park_and_ride_count,Population (2010),Miles of Major Roads,Total Street Miles,Street Density (st. mi/area sq. mi),Total Working Pop. (Age 16+) (2010),Commute to Work: Drive Alone (2010),Commute to Work: Carpool/Vanpool (2010),Commute to Work: Public Transportation (2010),Commute to Work: Taxi (2010),Commute to Work: Motorcycle (2010),Commute to Work: Bicycle (2010),Commute to Work: Walk (2010),Commute to Work: Other (2010),Work at Home (2010)
0,Allegheny Center,40.451577,-80.005340,1242.0,42.0,0.0,16.0,0.210,"$86,500.00","$109,535.00","$136,300.00",0,20911,22793,34.0%,71,7.6,15.1,0,2,9,5,8,5,31,0,0,0,0.0%,0.2%,41.1%,0.0%,0.0%,0.0%,63.0,1.539683,0.0,933,2.232425,4.141467,19.721273,386,0.277202,0.098446,0.168394,0.000000,0.000000,0.0,0.437824,0.000000,0.018135
1,Allegheny West,40.450784,-80.014403,129.0,38.0,0.0,16.0,0.141,"$159,700.00","$202,228.00","$123,600.00","$309,940.00",41761,45519,5.0%,38,8.2,10.6,1,0,4,6,6,4,12,72.0%,22.3%,5.7%,9.3%,2.3%,8.0%,4.2%,0.0%,42.1%,50.0,1.840000,0.0,462,1.471627,4.870843,34.544983,151,0.231788,0.205298,0.158940,0.145695,0.000000,0.0,0.258278,0.000000,0.000000
2,Allentown,40.419192,-79.992731,945.0,0.0,0.0,67.0,0.295,"$34,300.00","$43,434.00","$42,200.00","$8,500.00",29274,31909,28.5%,159,6.4,10.1,0,2,15,23,48,11,66,2.5%,86.9%,10.6%,27.1%,0.0%,20.9%,12.3%,0.0%,54.6%,5.0,30.400000,0.0,2500,1.648451,12.325689,41.781996,824,0.469660,0.109223,0.379854,0.000000,0.008495,0.0,0.000000,0.014563,0.018204
3,Arlington,40.413833,-79.963270,309.0,0.0,0.0,28.0,0.470,"$38,800.00","$49,132.00","$44,200.00","$15,397.00",25119,27380,20.3%,50,2.7,4.5,0,1,8,5,15,7,9,0.3%,97.6%,2.1%,41.4%,1.5%,2.2%,29.4%,7.3%,43.7%,0.0,NaN,0.0,1869,0.861571,10.734269,22.838871,673,0.739970,0.072808,0.135215,0.000000,0.000000,0.0,0.019316,0.008915,0.023774
4,Arlington Heights,40.416880,-79.961521,154.0,23.0,0.0,8.0,0.132,"$45,000.00","$56,984.00","$64,400.00",0,9417,10265,57.7%,19,7.8,15.2,0,0,4,5,5,3,7,0,0,0,39.9%,0.0%,0.0%,41.8%,0.0%,56.5%,36.0,1.000000,0.0,244,0.000000,1.086460,8.230760,72,0.111111,0.000000,0.888889,0.000000,0.000000,0.0,0.000000,0.000000,0.000000

In [57]:
# Normalize the data sum to 1
for col in df.iloc[:, 3:]:
    if pd.api.types.is_numeric_dtype(df[col]):
        df[col] = df[col] / df[col].sum()
    if df[col].dtype == object and df[col].str.contains('%').any():
        # Remove the percentage sign and convert to float
        df[col] = df[col].str.replace('%', '').astype(float) / 100
        # Now normalize
        df[col] = df[col] / df[col].sum()
    if df[col].dtype == object and df[col].str.contains('$').any():
        # Remove the percentage sign and convert to float
        df[col] = df[col].str.replace('[\$,]', '', regex=True).astype(float) / 100
        # Now normalize
        df[col] = df[col] / df[col].sum()

In [58]:
df.columns

Index(['Neighborhood', 'Latitude', 'Longitude', 'arrests_count',
       'bike_station_count', 'crash_count', 'firearm_seizure_count',
       'Neighborhood_2010_SQMILES', 'SNAP_All_csv_Median_Home_Value_',
       'Med__Val____00_in__10_Dollars_', 'SNAP_All_csv_Median_Home__Value',
       'SNAP_All_csv_Median_Sale_Price_', 'SNAP_All_csv_2009_Median_Income',
       'F2009_Med__Income___13_Dollars_', 'Est__Percent_Under_Poverty__201',
       'SNAP_All_csv__Part_1__Major_Cri', 'SNAP_All_csv_Part_1_Crime_per_1',
       'SNAP_All_csv_Part_2_Crime_per_1', 'SNAP_All_csv__Murder__2010_',
       'SNAP_All_csv__Rape__2010_', 'SNAP_All_csv__Robbery__2010_',
       'F_Agr__Assault__2010_', 'SNAP_All_csv__Burglary__2010_',
       'SNAP_All_csv__Auto_Theft__2010_', 'SNAP_All_csv__Drug_Violations__',
       'SNAP_All_csv___Good___Excellent', 'SNAP_All_csv___Average_Conditio',
       'SNAP_All_csv___Poor___Derelict_', 'SNAP_All_csv_Landslide_Prone___',
       'SNAP_All_csv_Flood_Plain____lan', 'SNAP_All_csv_Park_Space____of_l',
       'SNAP_All_csv_Woodland____of_lan', 'SNAP_All_csv_Cemetery____of_lan',
       'SNAP_All_csv_Residential', 'parking_meter_count', 'parking_avg_rate',
       'park_and_ride_count', 'Population (2010)', 'Miles of Major Roads',
       'Total Street Miles', 'Street Density (st. mi/area sq. mi)',
       'Total Working Pop. (Age 16+) (2010)',
       'Commute to Work: Drive Alone (2010)',
       'Commute to Work: Carpool/Vanpool (2010)',
       'Commute to Work: Public Transportation (2010)',
       'Commute to Work: Taxi (2010)', 'Commute to Work: Motorcycle (2010)',
       'Commute to Work: Bicycle (2010)', 'Commute to Work: Walk (2010)',
       'Commute to Work: Other (2010)', 'Work at Home (2010)'],
      dtype='object')

In [59]:
# Data Selection
drop_lst = ['SNAP_All_csv_Median_Home_Value_','Med__Val____00_in__10_Dollars_','SNAP_All_csv_Part_1_Crime_per_1',
        'SNAP_All_csv__Murder__2010_',
       'SNAP_All_csv__Rape__2010_', 'SNAP_All_csv__Robbery__2010_',
       'F_Agr__Assault__2010_', 'SNAP_All_csv__Burglary__2010_',
       'SNAP_All_csv__Auto_Theft__2010_', 'SNAP_All_csv__Drug_Violations__', 'SNAP_All_csv___Good___Excellent', 'SNAP_All_csv___Average_Conditio',
       'SNAP_All_csv___Poor___Derelict_', 'SNAP_All_csv_Landslide_Prone___', 'SNAP_All_csv_Woodland____of_lan', 'SNAP_All_csv_Cemetery____of_lan','Population (2010)', 'Miles of Major Roads',
       'Total Street Miles','Commute to Work: Drive Alone (2010)',
       'Commute to Work: Carpool/Vanpool (2010)',
       'Commute to Work: Public Transportation (2010)',
       'Commute to Work: Taxi (2010)', 'Commute to Work: Motorcycle (2010)',
       'Commute to Work: Bicycle (2010)', 'Commute to Work: Walk (2010)',
       'Commute to Work: Other (2010)', 'Work at Home (2010)','Neighborhood_2010_SQMILES','SNAP_All_csv_2009_Median_Income','Total Working Pop. (Age 16+) (2010)', 'SNAP_All_csv_Residential',]
trash_lst = df[drop_lst]
df.drop(columns=drop_lst, inplace=True)
df.drop(columns=['Latitude', 'Longitude'], inplace=True)

In [60]:
df.columns

Index(['Neighborhood', 'arrests_count', 'bike_station_count', 'crash_count',
       'firearm_seizure_count', 'SNAP_All_csv_Median_Home__Value',
       'SNAP_All_csv_Median_Sale_Price_', 'F2009_Med__Income___13_Dollars_',
       'Est__Percent_Under_Poverty__201', 'SNAP_All_csv__Part_1__Major_Cri',
       'SNAP_All_csv_Part_2_Crime_per_1', 'SNAP_All_csv_Flood_Plain____lan',
       'SNAP_All_csv_Park_Space____of_l', 'parking_meter_count',
       'parking_avg_rate', 'park_and_ride_count',
       'Street Density (st. mi/area sq. mi)'],
      dtype='object')

In [20]:
# Parking friendliness
# (df.iloc[:, 12] + df.iloc[:, 13] - df.iloc[:, 14])/3
# Bike friendliness
# df.iloc[:, 2]
# Ease of Commute
# (df.iloc[:, 15] + df.iloc[:, 16])/2
# Affordability
# (-df.iloc[:, 5] + -df.iloc[:, 6] + df.iloc[:, 7] - df.iloc[:, 8])/4
# Safety
# (-df.iloc[:, 1] -df.iloc[:, 3] -df.iloc[:, 4] - df.iloc[:, 9] - df.iloc[:, 10] - df.iloc[:, 11])/6

df["sum"] = df.iloc[:, 3] + df.iloc[:, 4]

0    0.019912
1    0.002068
2    0.015151
3    0.004954
4    0.002469
Name: arrests_count, dtype: float64

0    0.039585
1    0.035815
2    0.000000
3    0.000000
4    0.021678
Name: bike_station_count, dtype: float64

0    0.059497
1    0.037883
2    0.015151
3    0.004954
4    0.024147
dtype: float64